# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
venv
ENV

# Testing
.coverage
htmlcov
.pytest_cache
.tox

# Development
.env
instance
.webassets-cache

# IDE
.idea
.vscode
*.swp
*.swo

# Git
.git
.gitignore

# Documentation
README.md
docs
*.md 